.intro__container {
    background-image: url('../../assets/images/starry-night.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    position: relative;
    z-index: -1;
    height: 100vh;
}