#fb_container {
    background-color: rgb(24,106,180);
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.fb_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: white;
}

.fb_text > * {
    padding: 20px 5px;
}

.title {
    font-size: var(--90);
}

.author {
    font-size: var(--40);
}

img {
    height: 40%;
    width: 40%;
}