.science-info__container {
    background-image: url('../../assets/images/deep-forest.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}