.computinginfo__container {
    background-image: url('../../assets/images/blue-room.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}