* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--bkg-color);
  padding: 0px 180px;
  position: absolute;
}

a {
  color: unset;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}