* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bkg-color);
}

a {
  color: unset;
  text-decoration: none;
}

nav {
  padding: 8vh 5% 0 5%;
}

footer {
  padding: 2% 5% 2% 5%;
}

::-webkit-scrollbar {
  display: none;
}