* {
  box-sizing: border-box;
  padding: 0;
  margin: 10px 30px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  margin: 0;
  height: 100%;
}

body {
  background: var(--bkg-color);
}

a {
  color: unset;
  text-decoration: none;
}

.nav__list {
  color: white;
}

@media screen and (max-width: 768px) {
  .section-padding {
    padding: 4rem;
  }
  .section-margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section-padding {
    padding: 4rem 2rem;
  }
  .section-margin {
    margin: 4rem 2rem;
  }
}