:root {
    font-family: 'Times New Roman';
    
    --fs-professions: 3rem;
    --fs-location: 2rem;
    --fs-profession-title-home: 10rem;
    --fs-policy-links-footer: 1.2rem;
    --fs-icons-footer: 2rem;

    --bkg-color: black;
    --tp-bkg-color: transparent;
}

@media screen and (max-width: 820px) {
    :root {
        --fs-professions: 3rem;
        --fs-location: 2rem;
        --fs-profession-title-home: 8rem;
        --fs-policy-links-footer: 1rem;
        --fs-icons-footer: 1.3rem;
    }
    .footer__container {
        display: grid;
        justify-content: space-around;
        grid-template-columns: 2;
        grid-template-rows: 1;
    }

    .policy__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: 1 / 1 / span 1 / span 1;
        justify-content: center;
    }

    .all-links__container {
        grid-area: 1 / 2 / span 2 / span 1;
    }

    .social-media-icons__container {
        grid-area: 2 / 1 / span 1 / span 1;
    }
}

@media screen and (max-width: 390px) {
    :root {
        --fs-professions: 1.8rem;
        --fs-location: 1.5rem;
        --fs-profession-title-home: 4.5rem;
    }
}