.intro-message__container {
  position: absolute;
  bottom: 80px;

}

.intro__message {
  color: white;
  font-size: var(--fs-professions);
}

#intro__location {
  color: red;
  font-size: var(--fs-location);
}