.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: var(--fs-logo);
}

.header-name__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header-name {
    font-family: var(--font-main);
    color: white;
    font-size: var(--fs-name-header);
    text-align: right;
}