.single-repo {
    color: rgb(144,160,184);
    font-size: 1.5rem;
    padding: 4% 0%;
    border-radius: 10px;
    margin: 3% 0;
    display: flex;
    align-items: center;
    background-color: rgb(11,46,105);
}

.repo-list__container {
    background-color: rgb(10,37,85);
    padding: 1% 1.5%;
    width: 25%;
    text-align: left;
    border-radius: 20px;
    align-items: center;
}

.repo-header {
    color: rgb(129, 142, 167);
    font-size: 1.8rem;
    padding: 3% 2.5%;
    margin: 3% 0;
    border-bottom: 1px solid white;
}

.li__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.green-status {
    padding: 0 4%;
    font-size: 40%;
    color: lightgreen;
}